## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
from pprint import pprint

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

g_key

'AIzaSyAsl3xR9-2OOp6qqIjoeea374GZ1nL7tA4'

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Sechura,PE,-5.5569,-80.8222,74.77,63,75,16.71,broken clouds
1,1,Qaanaaq,GL,77.4840,-69.3632,27.77,83,99,3.31,overcast clouds
2,2,Saint-Philippe,RE,-21.3585,55.7679,70.48,82,90,14.05,light rain
3,3,New Norfolk,AU,-42.7826,147.0587,49.91,73,84,1.99,broken clouds
4,4,Komsomolskiy,UZ,40.4272,71.7189,74.12,31,18,2.30,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? -20
What is the maximum temperature you would like for your trip? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Sechura,PE,-5.5569,-80.8222,74.77,63,75,16.71,broken clouds
1,1,Qaanaaq,GL,77.4840,-69.3632,27.77,83,99,3.31,overcast clouds
2,2,Saint-Philippe,RE,-21.3585,55.7679,70.48,82,90,14.05,light rain
3,3,New Norfolk,AU,-42.7826,147.0587,49.91,73,84,1.99,broken clouds
4,4,Komsomolskiy,UZ,40.4272,71.7189,74.12,31,18,2.30,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID        0
City           0
Country        0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
cities_df = preferred_cities_df.dropna()
cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Sechura,PE,-5.5569,-80.8222,74.77,63,75,16.71,broken clouds
1,1,Qaanaaq,GL,77.4840,-69.3632,27.77,83,99,3.31,overcast clouds
2,2,Saint-Philippe,RE,-21.3585,55.7679,70.48,82,90,14.05,light rain
3,3,New Norfolk,AU,-42.7826,147.0587,49.91,73,84,1.99,broken clouds
4,4,Komsomolskiy,UZ,40.4272,71.7189,74.12,31,18,2.30,few clouds
5,5,Longyearbyen,SJ,78.2186,15.6401,37.24,81,90,29.93,moderate rain
6,6,Tiznit,MA,29.5833,-9.5000,61.93,72,66,3.29,broken clouds
7,7,Cabildo,AR,-38.4842,-61.8954,48.24,55,99,4.94,overcast clouds
8,8,Hobart,AU,-42.8794,147.3294,50.11,84,0,1.01,moderate rain
9,9,Mataura,NZ,-46.1927,168.8643,49.48,93,49,2.62,scattered clouds
10,10,Kloulklubed,PW,7.0419,134.2556,83.53,74,65,6.78,broken clouds
11,11,Jamestown,US,42.0970,-79.2353,66.07,63,90,8.05,overcast clouds
12,12,Jamestown,US,42.0970,-79.2353,66.07,63,90,8.05,overcast clouds
13,13,Bredy,RU,52.4153,60.3411,61.03,51,42,7.16,scattered clouds
14,14,Punta Arenas,CL,-53.1500,-70.9167,28.51,80,20,5.28,few clouds
15,15,Avarua,CK,-21.2078,-159.7750,80.65,65,65,9.22,broken clouds
16,16,Barrow,US,71.2906,-156.7887,30.88,84,100,18.92,overcast clouds
17,17,Rikitea,PF,-23.1203,-134.9692,72.52,62,77,16.64,broken clouds
18,18,Longyearbyen,SJ,78.2186,15.6401,37.24,81,90,29.93,moderate rain
19,19,Teguise,ES,29.0605,-13.5640,64.62,77,20,15.39,few clouds
20,20,Ushuaia,AR,-54.8000,-68.3000,24.03,93,27,5.46,scattered clouds
21,21,Sao Miguel Do Araguaia,BR,-13.2750,-50.1628,79.27,38,32,0.65,scattered clouds
22,22,Muravlenko,RU,63.7898,74.5230,35.80,69,59,14.50,broken clouds
23,23,Fortuna,US,40.5982,-124.1573,94.48,84,1,16.11,clear sky
24,24,Yeniseysk,RU,58.4497,92.1703,56.41,98,92,2.51,overcast clouds
25,25,Chuy,UY,-33.6971,-53.4616,53.31,68,48,10.60,scattered clouds
26,26,Rikitea,PF,-23.1203,-134.9692,72.52,62,77,16.64,broken clouds
27,27,Cabo San Lucas,MX,22.8909,-109.9124,96.80,44,24,10.42,few clouds
28,28,Quatre Cocos,MU,-20.2078,57.7625,76.08,70,56,17.78,broken clouds
29,29,Comodoro Rivadavia,AR,-45.8667,-67.5000,47.59,62,100,3.40,overcast clouds
30,30,Ulladulla,AU,-35.3500,150.4667,52.09,62,100,2.80,light rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Sechura,PE,74.77,broken clouds,-5.5569,-80.8222,
1,Qaanaaq,GL,27.77,overcast clouds,77.4840,-69.3632,
2,Saint-Philippe,RE,70.48,light rain,-21.3585,55.7679,
3,New Norfolk,AU,49.91,broken clouds,-42.7826,147.0587,
4,Komsomolskiy,UZ,74.12,few clouds,40.4272,71.7189,
5,Longyearbyen,SJ,37.24,moderate rain,78.2186,15.6401,
6,Tiznit,MA,61.93,broken clouds,29.5833,-9.5000,
7,Cabildo,AR,48.24,overcast clouds,-38.4842,-61.8954,
8,Hobart,AU,50.11,moderate rain,-42.8794,147.3294,
9,Mataura,NZ,49.48,scattered clouds,-46.1927,168.8643,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

g_key

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = str(lat) + "," + str(lng)
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    #print(params)

    # 6e. Make request and retrieve the JSON data from the search. 
    #search_url = base_url + "?radius=5000&key=AIzaSyAsl3xR9-2OOp6qqIjoeea374GZ1nL7tA4&location=78.2186,15.6401"
    #hotels = requests.get(search_url).json()
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
# 7. Drop the rows where there is no Hotel Name.

# Go through the hotel names and replace blanks with NaN
# remove those rows
hotel_df.replace("", float("NaN"), inplace=True)
hotel_df.dropna(subset=["Hotel Name"], inplace=True)

hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Sechura,PE,74.77,broken clouds,-5.5569,-80.8222,Hospedaje Costa Bella
1,Qaanaaq,GL,27.77,overcast clouds,77.4840,-69.3632,Qaanaaq Hotel
2,Saint-Philippe,RE,70.48,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
3,New Norfolk,AU,49.91,broken clouds,-42.7826,147.0587,The Shingles Riverside Cottages
4,Komsomolskiy,UZ,74.12,few clouds,40.4272,71.7189,Ikathouse
5,Longyearbyen,SJ,37.24,moderate rain,78.2186,15.6401,"Radisson Blu Polar Hotel, Spitsbergen"
8,Hobart,AU,50.11,moderate rain,-42.8794,147.3294,Mantra on Collins Hobart
9,Mataura,NZ,49.48,scattered clouds,-46.1927,168.8643,Ellie's Villa
10,Kloulklubed,PW,83.53,broken clouds,7.0419,134.2556,Storyboard Beach Resort
11,Jamestown,US,66.07,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))