## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Sechura,PE,74.77,broken clouds,-5.5569,-80.8222,Hospedaje Costa Bella
1,1,Qaanaaq,GL,27.77,overcast clouds,77.4840,-69.3632,Qaanaaq Hotel
2,2,Saint-Philippe,RE,70.48,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
3,3,New Norfolk,AU,49.91,broken clouds,-42.7826,147.0587,The Shingles Riverside Cottages
4,4,Komsomolskiy,UZ,74.12,few clouds,40.4272,71.7189,Ikathouse

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

vacation_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Sechura,PE,74.77,broken clouds,-5.5569,-80.8222,Hospedaje Costa Bella
1,1,Qaanaaq,GL,27.77,overcast clouds,77.4840,-69.3632,Qaanaaq Hotel
2,2,Saint-Philippe,RE,70.48,light rain,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
3,3,New Norfolk,AU,49.91,broken clouds,-42.7826,147.0587,The Shingles Riverside Cottages
4,4,Komsomolskiy,UZ,74.12,few clouds,40.4272,71.7189,Ikathouse
5,5,Longyearbyen,SJ,37.24,moderate rain,78.2186,15.6401,"Radisson Blu Polar Hotel, Spitsbergen"
6,8,Hobart,AU,50.11,moderate rain,-42.8794,147.3294,Mantra on Collins Hobart
7,9,Mataura,NZ,49.48,scattered clouds,-46.1927,168.8643,Ellie's Villa
8,10,Kloulklubed,PW,83.53,broken clouds,7.0419,134.2556,Storyboard Beach Resort
9,11,Jamestown,US,66.07,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
10,12,Jamestown,US,66.07,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
11,13,Bredy,RU,61.03,scattered clouds,52.4153,60.3411,"Sel'skiy Gostevoy Dom ""Kolos"""
12,14,Punta Arenas,CL,28.51,few clouds,-53.1500,-70.9167,Hotel Dreams Del Estrecho
13,15,Avarua,CK,80.65,broken clouds,-21.2078,-159.7750,Paradise Inn
14,16,Barrow,US,30.88,overcast clouds,71.2906,-156.7887,King Eider Inn
15,17,Rikitea,PF,72.52,broken clouds,-23.1203,-134.9692,Pension Maro'i
16,18,Longyearbyen,SJ,37.24,moderate rain,78.2186,15.6401,"Radisson Blu Polar Hotel, Spitsbergen"
17,19,Teguise,ES,64.62,few clouds,29.0605,-13.5640,B&B La Casona de Nazaret
18,20,Ushuaia,AR,24.03,scattered clouds,-54.8000,-68.3000,Albatros Hotel
19,21,Sao Miguel Do Araguaia,BR,79.27,scattered clouds,-13.2750,-50.1628,Hotel Executivo Palace
20,22,Muravlenko,RU,35.80,broken clouds,63.7898,74.5230,Hostel Rus Muravlenko
21,23,Fortuna,US,94.48,clear sky,40.5982,-124.1573,Super 8 by Wyndham Fortuna
22,24,Yeniseysk,RU,56.41,overcast clouds,58.4497,92.1703,"""Domino"""
23,25,Chuy,UY,53.31,scattered clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
24,26,Rikitea,PF,72.52,broken clouds,-23.1203,-134.9692,Pension Maro'i
25,27,Cabo San Lucas,MX,96.80,few clouds,22.8909,-109.9124,Tesoro Los Cabos
26,28,Quatre Cocos,MU,76.08,broken clouds,-20.2078,57.7625,Emeraude Beach Attitude Hotel
27,29,Comodoro Rivadavia,AR,47.59,overcast clouds,-45.8667,-67.5000,Austral Hotel
28,30,Ulladulla,AU,52.09,light rain,-35.3500,150.4667,Sandpiper Motel

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Ushuaia"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Ushuaia"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Punta Arenas"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Comodoro Rivadavia"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Chuy"] 

vacation_start

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
18,20,Ushuaia,AR,24.03,scattered clouds,-54.8,-68.3,Albatros Hotel

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy()[0][5], vacation_start.to_numpy()[0][6])
end = (vacation_end.to_numpy()[0][5], vacation_end.to_numpy()[0][6])
stop1 = (vacation_stop1.to_numpy()[0][5], vacation_stop1.to_numpy()[0][6])
stop2 = (vacation_stop2.to_numpy()[0][5], vacation_stop2.to_numpy()[0][6])
stop3 = (vacation_stop3.to_numpy()[0][5], vacation_stop3.to_numpy()[0][6])

print(start)
print(stop1)
print(stop2)
print(stop3)
print(end)

(-54.8, -68.3)
(-53.15, -70.9167)
(-45.8667, -67.5)
(-33.6971, -53.4616)
(-54.8, -68.3)

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig = gmaps.figure()

waypoints = [stop1, stop2, stop3]

directions = gmaps.directions_layer(start, end, waypoints=waypoints)

fig.add_layer(directions)

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,20,Ushuaia,AR,24.03,scattered clouds,-54.8000,-68.3000,Albatros Hotel
1,14,Punta Arenas,CL,28.51,few clouds,-53.1500,-70.9167,Hotel Dreams Del Estrecho
2,29,Comodoro Rivadavia,AR,47.59,overcast clouds,-45.8667,-67.5000,Austral Hotel
3,25,Chuy,UY,53.31,scattered clouds,-33.6971,-53.4616,Nuevo Hotel Plaza

In [18]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [20]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))